{% extends 'base.html' %}
{% load static %}


{% block content %}

<style type="text/css">
  #true{
    color: green;
  }
  #false{
    color: red;
  }
</style>

<div class="container">
	<center><h2>Redes Disponíveis</h2></center>
	<br>
<div class="row">
  <div class="col-sm-6 col-md-offset-3">
  	{% for network in network_info %}
    <div class="thumbnail">
      <div class="caption">
      	<h3>Rede: {{network.0}}</h3>
        <h3>Status: {% if network.1 %}<i id="true">OK</i>{% else %} <i id="false">DOWN</i>{% endif %}</h3>
        <h5>{% if not network.1 %} Last check: {{network.2}} {% endif %}</h5>
      </div>
    </div>
    {% endfor %}

  </div>
</div>
</div>
{% endblock %}